<!DOCTYPE html>
<html lang="ru">

<body>
<div class="container">
    <h5>Отправка сообщения</h5>
    <!-- Форма для отправки сообщения -->
    <form method="post" action="{% url 'create_contact' %}">
        {% csrf_token %}
        <div class="input-field col s12">
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" class="validate" required>
            <!-- Поле для ввода имени с обязательным заполнением -->
        </div>

        <div class="input-field col s12">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="validate" required>
            <!-- Поле для ввода электронной почты с обязательным заполнением -->
        </div>

        <div class="input-field col s12">
            <label for="message">Сообщение:</label>
            <textarea id="message" name="message" class="materialize-textarea" required></textarea>
            <!-- Поле для ввода сообщения с обязательным заполнением -->
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">Отправить
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>

<script>
$(document).ready(function() {
M.updateTextFields(); // Обновление стилей полей ввода при загрузке страницы
});

</script>
</body>

</html>
