<!DOCTYPE html>
<html lang="ru">
<!-- Подключаем CSS для выплывающего меню -->

<head>
  <meta charset="UTF-8">
  <title>Данные Контакта</title>
  <!-- Подключение библиотеки Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Подключение иконок Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    /* Стили для таблицы */
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>

	  {% include 'catalog/navbar.html' %}
      {% include 'catalog/contact_page/contact_output_list.html' with contacts=contacts %}
      {% include 'catalog/contact_page/contact_input.html' %}


  <!-- Подключение библиотеки jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <!-- Подключение библиотеки Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Инициализация компонентов Materialize -->
  <script>
    $(document).ready(function() {
      M.updateTextFields();
    });
  </script>
</body>
</html>
