<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список контактов</title>
    <!-- Подключение библиотеки Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<div class="container">
    <h1>Список контактов</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Email</th>
            <th>Сообщение</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.id }}</td> <!-- Вывод ID контакта -->
            <td>{{ contact.name }}</td> <!-- Вывод имени контакта -->
            <td>{{ contact.email }}</td> <!-- Вывод электронной почты контакта -->
            <td>{{ contact.message }}</td> <!-- Вывод сообщения контакта -->
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
$(document).ready(function() {
M.updateTextFields(); // Обновление стилей полей ввода при загрузке страницы
});


</script>

</body>
</html>