<!DOCTYPE html>
<html>
<head>
	<title>Магазин</title>
	<!-- Подключаем CSS для выплывающего меню -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- Подключаем JS для выплывающего меню -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Подключаем jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




</head>
<body>


	  <!-- Список ссылок в выплывающем меню -->
	  {% include 'catalog/navbar.html' %}


	<!-- Основные данные снизу -->
	<div class="container-fluid">
		{% block content %}
		{% endblock %}
	</div>

</body>

</html>


