<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Подключаем JS для выплывающего меню -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<a class="navbar-brand" href="#">Магазин</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'home_page' %}">Главная страница</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'product_list_base' %}">Список продуктов</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'contact' %}">Контакты</a>
			</li>
		</ul>
	</div>
</nav>
