{% extends 'catalog/base.html' %}

{% block content %}

<!-- Основные данные снизу -->
<h1>Продукты</h1>
<table class="table">
	<thead>
		<tr>
			<th>Наименование</th>
			<th>Описание</th>
			<th>Изображение продукта</th>
			<th>Категория</th>
			<th>Цена</th>
			<th>Дата создания</th>
			<th>Дата последнего обновления</th>
		</tr>
	</thead>
	<tbody>
		{% for product in products %}
		<tr>
			<td>{{ product.name }}</td>
			<td>{{ product.description }}</td>
			{% if product.preview_image %}
			<td><img src="{{ product.preview_image.url }}" alt="{{ product.name }}"></td>
			{% else %}
			<td>No image</td>
			{% endif %}
			<td>{{ product.category.name }}</td>
			<td>{{ product.price }}</td>
			<td>{{ product.created_at }}</td>
			<td>{{ product.updated_at }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
